<nav>
  <div class="bar">
    <a class="name" href="https://theoceanbreeze.github.io">TheOceanBreeze</a>
    {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
  </div>
</nav>