<nav>
  <ul>
    <li style="float:left"><a class="name" href="https://theoceanbreeze.github.io">TheOceanBreeze</a></li>
    {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
  </ul>
</nav>