head
  title #{title} | TheOceanBreeze
  // SEO
  meta(property='og:title' content='TheOceanBreeze')
  meta(property='og:locale' content='en_US')
  meta(name='description' content='Hey there, this is the personal website for TheOceanBreeze.')
  meta(property='og:description' content='Hey there, this is the personal website for TheOceanBreeze.')
  link(rel='canonical' href='https://theoceanbreeze.github.io')
  meta(property='og:url' content='https://theoceanbreeze.github.io')
  meta(property='og:site_name' content='TheOceanBreeze')
  meta(property='og:type' content='website')
  meta(name='twitter:card' content='summary')
  meta(property='twitter:title' content='TheOceanBreeze')
  // Favicon
  link(rel='shortcut icon' type='image/x-icon' href='assets/images/icon.png')
  // CSS and JS
  link(rel='stylesheet' href='assets/css/style.css')
