<nav>
  <ul>
    <li style="float:left"><a class="name" href="https://theoceanbreeze.github.io">TheOceanBreeze</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#">Projects</a></li>
    <li><a href="https://theoceanbreeze.github.io">Home</a></li>
  </ul>
</nav>