nav
  ul
    li(style='float:left')
      a.name(href='https://theoceanbreeze.github.io') TheOceanBreeze
    li
      a(href='#') Contact
    li
      a(href='#') Projects
    li
      a(href='https://theoceanbreeze.github.io') Home
