<!DOCTYPE html>
<html lang="en">
  {% include "../_includes/head.njk" %}
  <body>
    {% include "../_includes/nav.njk" %}
    <div class="header">
      {% include "../_includes/hero.njk" %}
      {% include "../_includes/tags.njk" %}
      <h3></h3>
    </div>
    <div class="content">{{ content | safe }}</div>
    {% include "../_includes/footer.njk" %}
  </body>
</html>