{% macro render(page) %}
    {% include "../_includes/" + page + ".njk" %}
{% endmacro %}

<!DOCTYPE html>
<html lang="en">
  {{ render("head") }}
  <body>
    {{ render("nav") }}
    <div class="header">
      {{ render("hero") }}
      {{ render("tags") }}
    </div>
    <div class="content">{{ content | safe }}</div>
    {{ render("footer") }}
  </body>
</html>