---
layout: 'main'
title: 'Blog'
hero:
    title: "Blog"
    subtitle: "I write posts here."
eleventyNavigation:
    key: Blog
    order: 2
---

{% for blog in collections.post %}
    <h2><a href="{{ blog.url }}">{{ blog.data.title }}</a></h2>
    <h4>{{ blog.date | dateReadable }}</h4>
{% endfor %}